@page
@model BiblePathsCore.Pages.PBE.AddExclusionModel

@{
    ViewData["Title"] = "Add a PBE Exclusion";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["VerseCount"] = Model.ChapterVerseCount;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    @{
                        string ExclusionTitle = @Model.Exclusion.BookName + " " + @Model.Exclusion.Chapter;
                    }
                    <div class="row">
                        <span>Please select a Start and End verses for this PBE Exclusion.</span>
                        <Strong>@ExclusionTitle</Strong>
                        <div class="mb-0 input-group input-group-sm form-inline form-group">
                            <select asp-for="Exclusion.StartVerse" asp-items="ViewBag.VerseSelectList" class="form-control"></select>
                            <span> - </span>
                            <select asp-for="Exclusion.EndVerse" asp-items="ViewBag.VerseSelectList" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="Exclusion.BookNumber" />
                        <input type="hidden" asp-for="Exclusion.Chapter" />
                        <input type="hidden" asp-for="Exclusion.BibleId" />
                        <input type="submit" value="Add Exclusion" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <hr />
    <a asp-page="Exclusions" asp-route-BibleId="@Model.Exclusion.BibleId">Back to Exclusions</a>
    <br />
    <a asp-page="Index">PBE Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
