@page
@model BiblePathsCore.Pages.PBE.AddQuizModel

@{
    ViewData["Title"] = "Add a Quiz";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>@ViewData["Title"]</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card">
                    <div class="card-body form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Name</span>
                        </div>
                        <input asp-for="Quiz.GroupName" class="form-control" />
                        <span asp-validation-for="Quiz.GroupName" class="text-danger"></span>
                    </div>
                </div>
               
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Quiz Template</h5>
                        <p class="card-subtitle text-info">Selecting a Quiz Template will override selection of a book or book list</p>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Quiz Template</span>
                            </div>
                            <select asp-for="Quiz.PredefinedQuiz" asp-items="ViewBag.TemplateSelectList" class="form-control"></select>
                            <span asp-validation-for="Quiz.PredefinedQuiz" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <h5>or</h5>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Bible Book or Book List</h5>
                        <p class="card-subtitle text-info">This will only take effect if a Quiz Template has not been selected</p>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Book or Book List</span>
                            </div>
                            <select asp-for="Quiz.BookNumber" asp-items="ViewBag.BookSelectList" class="form-control"></select>
                            <span asp-validation-for="Quiz.BookNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                @if (Model.TeamsAvailable)
                    {
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Optional - Assign a Team to this Quiz</h5>
                                <p class="card-subtitle text-info">This will allow you to track a teams progress across quizzes</p>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Team</span>
                                    </div>
                                    <select asp-for="Quiz.QuizTeamId" asp-items="ViewBag.TeamSelectList" class="form-control"></select>
                                    <span asp-validation-for="Quiz.QuizTeamId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    }
                <div class="form-group input-group">
                    <input type="hidden" asp-for="BibleId" />
                    <input type="submit" value="Save Quiz" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <hr />
    <a asp-page="Quizzes" asp-route-BibleId="@Model.BibleId">Back to Quizzes</a>
    <br />
    <a asp-page="Index">PBE Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
