@page
@model BiblePathsCore.Pages.PBE.AddTemplateModel

@{
    ViewData["Title"] = "Add a Quiz Template";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>@ViewData["Title"]</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Name</span>
                    </div>
                    <input asp-for="Template.QuizName" class="form-control" />
                    <span asp-validation-for="Template.QuizName" class="text-danger"></span>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Book or Book List</span>
                    </div>
                    <select asp-for="Template.BookNumber" asp-items="ViewBag.BookSelectList" class="form-control"></select>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Question Count</span>
                    </div>
                    <select asp-for="Template.NumQuestions" asp-items="ViewBag.CountSelectList" class="form-control"></select>
                </div>
                <div class="form-group input-group">
                    <input type="hidden" asp-for="BibleId" />
                    <input type="submit" value="Add Quiz Template" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <hr />
    <a asp-page="./Templates" asp-route-BibleId="@Model.BibleId">Back to Templates</a>
    <br />
    <a asp-page="Index">PBE Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
