@page
@model BiblePathsCore.DeleteExclusionModel

@{
    ViewData["Title"] = "Delete Exclusion";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]: THIS PAGE SHOULD NEVER BE HIT!</h1>

