@page
@model BiblePathsCore.DeleteQuestionModel

@{
    ViewData["Title"] = "Delete Question";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]: THIS PAGE SHOULD NEVER BE HIT!</h1>

