@page
@model BiblePathsCore.Pages.PBE.PBEUsersModel

@{
    ViewData["Title"] = "PBE User Management";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if (Model.UserMessage != null)
{
    <div><span class="bg-light text-primary">@Model.UserMessage</span> </div>
}
<h4>@ViewData["Title"]</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form>
                <p>
                    <input type="text" asp-for="SearchString" />
                    <input type="submit" value="Search Users" />
                </p>
            </form>
        </div>
    </div>
    <hr />
    <span class="text-info">Note: Only the first 20 PBE Moderators are returned by default, use "Search Users" to find specific non-Moderator users.</span>
    <br />
    @foreach (var PBEUser in Model.PBEUsers)
    {
<a class="btn btn-outline-primary btn-sm" asp-page="EditPBEUser" asp-route-Id="@PBEUser.Id">
    @PBEUser.Email
    @if (PBEUser.IsModerator)
    {
        <span class="badge badge-primary">Moderator</span>
    }
    @if (PBEUser.IsQuestionBuilderLocked)
    {
        <span class="badge badge-danger"> Question Builder Locked </span>
    }
    @if (PBEUser.IsQuizTakerLocked)
    {
        <span class="badge badge-danger"> Quiz Host Locked </span>
    }
</a>
        <br />
    }
</div>
<div>
    <hr />
    <a asp-page="/PBE/Index">Back to PBE Home</a>
</div>