@page
@model BiblePathsCore.aboutModel
@{
    ViewData["Title"] = "About Bible Paths";
}

<h1>About Bible Paths</h1>

At BiblePaths.net we know that many of the great truths in the Bible are found not in a single verse or chapter, but rather woven through the testaments, books, chapters and verses like fine threads through a rich tapestry. These threads or "paths" are the basis of bible studies, sermons, doctrines and creeds. In other words, they form the basis of what we believe.

Bible Paths asks, why not democratize both the definition and study of these paths? Why not enable anybody from our most learned to the newest believer, to contribute the paths that have meant the most to them in their walk with Jesus. Why not provide anybody who is searching for truth, inspiration, or simply a new approach to devotion, with the ability to easily discover and consume these "paths" through the Bible?

Bible Paths (https://biblepaths.net) is a crowd sourced Bible study/devotional aid, it's primary intent is to walk users through the Bible on "paths" defined by other users. The intent of a BiblePath is to expound on a given topic or concept using only the biblical text. The approach or doctrine of  sola scriptura will be central to this service. At no point in consuming a Bible Path will a user be exposed any user provided text, the only content that is user generated is the selection and ordering of Bible verses that make up the Bible Path. Further, the Title and Topics associated with a published Bible Path is selected, by the author, from the text of the path itself.

<h2>Contact Us</h2>

BiblePaths.Net is run by a small group of individuals interested in spreading the good news through a simple approach to Bible study. If you've got questions, concerns, feedback or a desire to help out please send us an email.

Email: Admin@BiblePaths.Net

