@page
@model BiblePathsCore.aboutModel
@{
    ViewData["Title"] = "About Bible Paths";
}

<h1>About Bible Paths</h1>
<p>At BiblePaths.net we know that many of the great truths in the Bible are found not in a single verse or chapter, but rather woven through the testaments, books, chapters and verses like fine threads through a rich tapestry. These threads or "paths" are the basis of bible studies, sermons, doctrines and creeds. In other words, they form the basis of what we believe.
</p>

<p>Bible Paths asks, why not democratize both the definition and study of these paths? Why not enable anybody from our most learned to the newest believer, to contribute the paths that have meant the most to them in their walk with Jesus. Why not provide anybody who is searching for truth, inspiration, or simply a new approach to devotion, with the ability to easily discover and consume these "paths" through the Bible?
</p>

<p>Bible Paths (https://biblepaths.net) is a crowd sourced Bible study/devotional aid, it's primary intent is to walk users through the Bible on "paths" defined by other users. The intent of a BiblePath is to expound on a given topic or concept using only the Biblical text, or in the case of Commented Paths Biblilcal text along with author commentary. The approach or doctrine of sola scriptura is integral to this service, at no point in consuming a standard Bible Path will a user be exposed any user provided text, the only content that is user generated is the selection and ordering of Bible verses that make up the Bible Path. While Standard paths focus solely on the Bible text, Commented paths allow submitters to further expand on the text as they may be inspired. Further, the Title and Topics associated with a published Bible Path must be selected, by the author, from the text of the path itself.
</p>

<p>A word about Bible Path summaries. These are a relatively new addition that you will find on some Bible Paths, when present, these aid in both discovery and selection of a path for study. Bible Path summaries are generated using AI and are subject to review by the author. While AI generation may seem an odd choice for an application like Bible Paths we believe it actually provides a valuable second party perspective on a user generated Bible Path. We do not use AI to generate any of our Bible Paths, these are all user generated and, we pray, Holy Spirit inspired.</p>

<h2>Contact Us</h2>
<p>BiblePaths.Net is run by a small group of individuals interested in spreading the good news through a simple approach to Bible study. If you've got questions, concerns, feedback or a desire to help out please send us an email.
<i>Email: Admin@BiblePaths.Net</i>
</p>


