@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    At Bible Paths we do not store any of your Personal Information, and
    we rely on 3rd Party Online Services for authentication in order to
    avoid having to store your password or any other personal profile information.
    The only thing we do store is the Email Address you specify and we will use that
    to help you keep track of the Bible Paths, Quiz Qustions, Quiz Groups and other items you create along the way.

</p>
<p>
    <h3>What personal data will Bible Paths store?</h3>
    Bible Paths will store the Email Address that you specify during registration. Your Email Address is used to
    identify any Bible Paths, Quizzes, Quiz Templates, Question, Quiz Groups, or other items that you might create
    while using Bible Paths.
</p>
<p>
    <h3>How will you use my Email Address and other items I create?</h3>
    Your Email Address is used to track the items you create, and the items you create such as Bible Paths and Quiz Questions
    may be used by any users either in search of a Bible Path to follow or in preparing for a PBE competition. Any items you
    create are under your control you are free at any time to delete items that you no longer want stored on this site.

    A site administrator may use your Email Address to contact you directly in the rare event that this is necessary to maintain
    the functionality of the site or to ensure a positive experience for other users.
</p>
<p>
    <h3>Is it possible to review and or delete the Email Address that is stored on this site?</h3>
    Yes at any time while you are logged in to Bible Paths you can select your Email Address from the Top navigation bar. This
    will present you with the option to Download any personal information you have provided (your Email Address) as well as delete
    this information, which will result in the deletion of your Bible Paths Account.
</p>
