@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p> 
    At Bible Paths we do not store any of your Personal Information, and
    we rely on 3rd Party Online Services for authentication in order to 
    avoid having to store your password or any other personal profile information.
    The only thing we do store is the Email Address you specify and we will use that 
    to help you keep track of the Bible Paths, Quiz Qustions, Quiz Groups and other items you create along the way.
</p>
