@page
@model BiblePathsCore.UnPublishModel
@{
    ViewData["Title"] = "UnPublish: " + Model.Path.Name;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <h1>@ViewData["Title"]: THIS PAGE SHOULD NEVER BE HIT!</h1>