@page
@model BiblePathsCore.AddBuilderCommentModel

@{
    ViewData["Title"] = "Add Builder Comment";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]: THIS PAGE SHOULD NEVER BE HIT</h1>
