@page
@model BiblePathsCore.EditCommentModel

@{
    ViewData["Title"] = "Edit a Step";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["VerseCount"] = Model.Step.Verses.Count;
}

<h4>@ViewData["Title"]: @Model.Path.Name</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <textarea asp-for="Step.Text" rows="8" placeholder="Owner Commentary" class="scroll-box"> </textarea>
                        <span asp-validation-for="Step.Text" class="text-danger"></span>
                        <input type="hidden" asp-for="Step.PathId" />
                        <input type="hidden" asp-for="Step.Position" />
                        <input type="submit" value="Add Step" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>

<div>
    <hr />
    <a asp-page="/CommentedPaths/Steps" asp-route-PathId="@Model.Path.Id">Back to Commented Path</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
