@page
@model BiblePathsCore.EditStepModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<h1>TODO: Build Step Edit</h1>

<h4>PathNodes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PathNodes.Id" />
            <div class="form-group">
                <label asp-for="PathNodes.PathId" class="control-label"></label>
                <select asp-for="PathNodes.PathId" class="form-control" asp-items="ViewBag.PathId"></select>
                <span asp-validation-for="PathNodes.PathId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathNodes.Position" class="control-label"></label>
                <input asp-for="PathNodes.Position" class="form-control" />
                <span asp-validation-for="PathNodes.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathNodes.BookNumber" class="control-label"></label>
                <input asp-for="PathNodes.BookNumber" class="form-control" />
                <span asp-validation-for="PathNodes.BookNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathNodes.Chapter" class="control-label"></label>
                <input asp-for="PathNodes.Chapter" class="form-control" />
                <span asp-validation-for="PathNodes.Chapter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathNodes.StartVerse" class="control-label"></label>
                <input asp-for="PathNodes.StartVerse" class="form-control" />
                <span asp-validation-for="PathNodes.StartVerse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathNodes.EndVerse" class="control-label"></label>
                <input asp-for="PathNodes.EndVerse" class="form-control" />
                <span asp-validation-for="PathNodes.EndVerse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathNodes.Created" class="control-label"></label>
                <input asp-for="PathNodes.Created" class="form-control" />
                <span asp-validation-for="PathNodes.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathNodes.Modified" class="control-label"></label>
                <input asp-for="PathNodes.Modified" class="form-control" />
                <span asp-validation-for="PathNodes.Modified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
