@page
@model BiblePathsCore.Pages.Tongues.VersesModel

@{
    ViewData["Title"] = "Add a Question";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
 
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
