@page
@model BiblePathsCore.Pages.Play.AwardPointsModel

@{
    ViewData["Title"] = "AwardPoints";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]: THIS PAGE SHOULD NEVER BE HIT!</h1>

